.anime-card {
  text-align: center;
  position: relative;
  height: 100%;
  width: 15%;
  margin: auto;
  border: inset black;
  flex-shrink: 1;
  border-radius: 5px;
  color:black;
  background-color: #ffe9dc;
}

.anime-card-hover {
  text-align: center;
  position: relative;
  height: 100%;
  margin: auto;
  transform: scale(1.03);
  border: inset black;
  background-color: #ffe9dc;
  border-radius: 5px;
}

img {
  width: 14.64vw;
}


.link{
  border-radius: 5px;
    background-color: rgb(160, 203, 252);
    border: outset;
    color: black;
    font-size: 1.2vmin;
}

h5 {
  display: block;
  font-size: 1.2vmin;
  max-width: 140px;
  text-align: center;
  margin: auto;
  margin-top: 0px;
}

.fav-button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  opacity: 75%;
  z-index: 2;
  position: absolute;
  top: 1%;
  right: 2%;
}

.fav-button:hover {
  opacity: 100%;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.fav-button:active {
    animation: heartBeat 1s linear alternate;
    animation-duration: 1s;
}
