.card-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    padding: .5vmax;
    align-content: flex-start;
}
.show-more {
    height: 200px;
    border: 0px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
}