.fanfic-body{
    background-color: #ffe9dc;
    height: 100vh;
}

.title {
    text-align: center;
    color: black;
}

.form-div{
    padding-left: 50px;
    padding-right: 50px;
    height: 200px;
}

.form-input{
    margin: 5px;
    width: 300px;
}

form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 180px;
}

textarea {
    resize: none;
  }

.submit-button{
    display:block;
    max-width: 100px;
}

.fanfics-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}