.fanfic-card{
    border: inset;
    margin: 10px;
    /* text-align: center; */
    padding:10px;
    /* display: flex;
    flex: wrap; */
    width: 40%;
}

.card-info{
    display:flex;

}
img{
    /* margin-left: auto;
    margin-right: auto; */
    display:block;
}

