.inner-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px
}
.form-div{
    padding-left: 50px;
    padding-right: 50px;
    height: 200px;
    align-content: center;
}

.form-input{
    width: 40vw;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(160, 203, 252);
    color: black;
    border: inset;
    /* height: 20px; */
}

.text-area{
    width: 50vw;
    border-radius: 5px;
    background-color: rgb(160, 203, 252);
    border: inset;
    color:black;
    height:170px;
    text-align: center;
}

form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

textarea {
    resize: none;
  }

.submit-button{
    display:block;
    flex-basis: 100%;
    max-width: 100px;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(160, 203, 252);
    border: outset;
    color: black;
}

.fanfics-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

::placeholder{
    color: black;
}