.top-animes, .new-animes {
    text-align: left;
    max-width: 100vw;
    border-style: inset;
    margin: .5vw;
    background-color: #070427;
    color: #66FCF1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 1.5vmax;
    padding-left: .5vw; 
    color: white;
}

.home-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}