.home-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-title {
  color: beige;
  font-size: 1.5vmax;
  height: 1vh;
  padding-left: 0.5vw;
}

.top-animes,
.new-animes {
  background-color: rgba(51, 50, 50, 0.82);
  color: #000000;
  display: flex;
  flex-direction: column;
  margin: 0.5vw;
  text-align: left;
  border-style: inset;
  border-radius: 5px;
}
