.modal {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50vw;
  min-height: 30vh;
  margin: auto;
}

.modal-content {
  background-color: beige;
  scale: 0.8;
  border-radius: 10px;
  border: inset;
}

.pt-video iframe{
  width: 55vw;
  height: 40vh;
}

.modal-header {
  display: flex;
  align-items: center;
  height: 10 px;
  justify-content: space-evenly;
  font-size: 2.2vmin;
  height: 5vh;
}

.modal-header {
  font-size: 2.2vmin;
  height: 5vh;
  font-family: monospace;
}

.row-video{
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  max-width: 100vw;
  padding: .5vmax;
  align-content: flex-start;
  flex-shrink: 1;
}
.pt1 {
  display: flex;
  font-family: monospace;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  border: solid;
  border-radius: 5px;
  margin: 5px;
}

.pt-pic{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-radius: 5px;
  margin: 5px;
}

.modal p {
  font-size: 2vmin;
}
.button {
  color: #000000;
  background-color: rgb(160, 203, 252);
  border-radius: 5px;
  float: right;
  border: outset;
  color: black;
  font-weight: bold;
}
.button:hover,
.button:focus {
  color: #F30000;
}