.modal {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;   
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: -1vw; */
    min-width: 50vw;
    min-height: 30vh;   
    /* margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px; */
    margin: auto;

}

.modal-content {
    background-color: #fff;
}

.modal-header {
    display: flex;
    height: 10 px;
    /* justify-content: space-evenly; */
    /* max-width: 100vw;  */
    /* align-content: flex-start; */
    /* flex-shrink: 1; */

}
.modal-header h4 {
    font-size: 2.2vmin;
}



.row {
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    padding: .5vmax;
    align-content: flex-start;
    flex-shrink: 1;
}

.pt1 {
    display: inline-block;
    align-items: center;
    border: solid;
    border-radius: 5px;
    margin: 5px; 
    flex-shrink: 1;

}

.modal p {
    font-size: 2vmin;
}

.button {
    color: #000000;
    float: right;
    font-weight: bold;
  }

.button:hover,
.button:focus {
    color: #f30000;
    text-decoration: none;
    cursor: pointer;
  }

.studios {
    display:flex;
}