.modal {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;   
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.pt1 {
    display: inline-block;
    justify-content: center;
    border: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 5px

}

.modal-content {
    width: 600px;
    background-color: #fff;
    position: absolute;

}

.modal-header {
    padding: 10px

}

.modal-content {
    margin: 0;

}

.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    
}

.button {
    color: #000000;
    float: right;
    font-weight: bold;
  }

.button:hover,
.button:focus {
    color: #f30000;
    text-decoration: none;
    cursor: pointer;
  }

.studios {
    display:flex;
}