@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&display=swap');

.nav-header {
  background-image: url('http://raw.githubusercontent.com/TheeCryptoKing/Anime-Searcher-3000/main/.github/images/538943.jpg');
  color: rgb(160, 203, 252);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 20vmax;
}

.page-title {
  font-size: 6vmax;
  text-shadow: 5px 5px #558ABB;
  margin: auto;
}

nav {
  background-image: url('https://raw.githubusercontent.com/TheeCryptoKing/Anime-Searcher-3000/main/.github/images/39033.png') , linear-gradient(rgba(54, 54, 54, 0.5), rgba(0,0,0,.5) );
  background-blend-mode: multiply;
  filter: invert(0.3) saturate(3.0);
  font-family: 'Amita', cursive;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  padding-left: 20vw;
  padding-right: 20vw;
}

.nav-link {
  color: rgba(0, 217, 255);
  font-size: 2vmax;
  margin: 0.5vh;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(233, 24, 24);
  transition: 0.5s;
}

.page-title:hover {
  color: rgb(233, 24, 24);
  transition: 1s;
}
