.nav-header {
  background-image: url('http://raw.githubusercontent.com/TheeCryptoKing/Anime-Searcher-3000/main/.github/images/538943.jpg');
  /* add a dark layer on top of it  */
  color: rgb(160, 203, 252);
  width: 100vw;
  height: 20vmax;
  display: flex;
  flex-direction: column;
}

.page-title {
  font-size: 6vmax;
  margin: auto;
}

nav {
  background-color: #298acd;
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  padding-left: 20vw;
  padding-right: 20vw;
  font-family: "Sofia", sans-serif;
}

.nav-link {
  font-size: 2vmax;
  color: rgb(255, 255, 255);
  margin: 0.5vh;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgb(233, 24, 24);
  transition: 0.5s;
}

.page-title:hover {
  color: rgb(233, 24, 24);
  transition: 1s;
}
