.nav-header {
  background-color: #282c34;
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: rgb(186, 171, 171);
  padding: 10px;
}

.nav-link {
  color: rgb(186, 171, 171);
  margin-left: 50px;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: white;
}
