.page-title {
    text-align: center;
}

.search-form{
   display: block;
   margin: 0 auto;
   max-width: 20vw;
}

.search-body{
    justify-content: center;
}

.search-button{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}